* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Arial", sans-serif;
	font-size: 62.5%;
}

.header-nav {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-color: #f2f2f2;
	height: 4.5rem;
	box-shadow: 0 0.01rem 5rem 0.7rem rgba(46, 46, 46, 0.226);
}

.header-left {
	list-style: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 4.5rem;
}

.header-left li a {
	font-size: 2.5rem;
	text-decoration: none;
	color: black;
	padding: 1.3rem;
	margin: 1rem;
}
.sobreG {
	background-image: url(../../imgs/sobre-google.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.shop {
	width: 100px;
	height: 100px;
	background-image: url(../../imgs/shop-icon.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.header-right {
	list-style: none;
	display: flex;
	margin-right: 2.5rem;
	justify-content: flex-end;
	align-items: center;
	height: 4.5rem;
}

.header-right li a {
	font-size: 2.5rem;
	text-decoration: none;
	color: black;
	padding: 1.5rem;
	margin: 1rem;
}
.gmail-icon {
	background-image: url(../../imgs/gmail-ico.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.images-icon {
	background-image: url(../../imgs/images-icon.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.earth-icon {
	width: 100px;
	height: 100px;
	background-image: url(../../imgs/Earth-icon.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.maps-icon {
	background-image: url(../../imgs/maps-icon.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.perfil-icon {
	background-image: url(../../imgs/perfil-icon.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 50%;
	height: 3rem;
	width: 3rem;
}

/* Main */
.logo-container {
	margin: 9rem auto 2rem;
	text-align: center;
}

.logoG {
	width: 60rem;
	height: 20rem;
}

.input-container {
	display: flex;
	justify-content: center;
}
.search-container {
	display: inherit;
	align-items: center;
	text-align: center;
	border: 1px solid #dfe1e5;
	border-radius: 10rem;
	width: 70rem;
	height: 5rem;
	transition: all 0.7s;
}
.search-container:hover {
	box-shadow: 0 1px 6px #20212447;
	border-color: rgba(223, 225, 229, 0);
	transition: all 0.5s;
}

.search-icon {
	background-image: url(../../imgs/search-icon.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 2.4rem;
	height: 2.4rem;
	margin: 1.5rem;
	opacity: 40%;
}

.search-container input {
	width: 65rem;
	height: 4.5rem;
	border: none;
	outline: none;
	font-size: 2rem;
	color: rgba(0, 0, 0, 0.623);
}

.voice-icon {
	background-image: url(../../imgs/micro-icon.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 2.4rem;
	height: 2.4rem;
	margin: 1.5rem;
}

.btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2.5rem;
}
.btn-container div button {
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 4px;
	color: #5f6368;
	font-size: 14px;
	margin: 11px 4px;
	padding: 0 16px;
	height: 40px;
	width: 300px;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s;
}

.btn-container div button:hover {
	box-shadow: 0 2px 6px #20212447;
	border-color: rgba(223, 225, 229, 0);
	transition: all 0.3s;
}
.btn-container div button:focus {
	border: 1px solid #4d90fe;
	outline: none;
}

.lang {
	display: flex;
	justify-content: center;
}

.lang-p {
	font-size: 1.3rem;
}
.lang-p a {
	text-decoration: none;
	font-size: 1.3rem;
	padding: 0.3rem;
	color: blue;
}
.lang-p a:hover {
	text-decoration: underline;
}

.footer-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-color: #f2f2f2;
	width: 100vw;
	height: 4.5rem;
	box-shadow: 0 0.01rem 5rem 0.7rem rgba(46, 46, 46, 0.226);
	position: absolute;
	bottom: 0;
}

.footer-left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	list-style: none;
	margin: 0.5rem;
}
.footer-left li a {
	font-size: 1.5rem;
	text-decoration: none;
	color: #5f6368;
	padding: 1rem;
}

.footer-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	margin: 0.5rem;
}
.footer-right li a {
	font-size: 1.5rem;
	text-decoration: none;
	color: #5f6368;
	padding: 1rem;
}

.footer-left li a:hover {
	text-decoration: underline;
}
.footer-right li a:hover {
	text-decoration: underline;
}
.pais-container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	position: absolute;
	left: 1rem;
	bottom: 5rem;
	width: 4rem;
	height: 4rem;
	border: none;
	border-radius: 50%;
	margin: 1rem;
	box-shadow: 0.2rem -0.5rem 3rem rgba(0, 0, 0, 0.212);

	background-image: url(../../imgs/russian-emoji.png);
	background-position: center;
	background-size: 6rem;
	background-repeat: no-repeat;
	background-color: #ffffff;
	transition: all 0.3s;
}

.pais-container:hover {
	transition: all 0.3s;
	background-size: 13rem;
	width: 8rem;
	height: 8rem;
}
